.main-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  
  margin-top: 50px;

}

.main-heading {
  grid-column: 3/6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 50px;


}

.heading-container {
  grid-column: 3/11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.heading-button {
  height: 63.818180084228516px;
width: 219.8356170654297px;
left: 725.1591796875px;
top: 51.662353515625px;
border-radius: 16px;
padding: 0px 16px 0px 16px;
  background: #F4CE14;
  cursor : pointer;
}
.images-container{

  justify-content: space-between;


  grid-column: 3/11;

    }
.images {

display:flex;
  gap: 17px;
  justify-content: space-around;
}



.title{
  display: grid;
  max-width:  350px;
  
  justify-content: space-evenly;
  background-color: var(--highlight-color-white);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden; /* hide any overflow */
}

.bruchetta,
.lemon,
.greek {
  width: 350px;
  height: 200px; /* make sure the image fills the height of .title */
  object-fit: cover; /* make sure the image doesn't stretch */
 
}

.delivery-span {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  align-items: center;
  
}
 .price {
  color:var(--secondary-color-orange);
}
.span {
  padding: 30px 30px;
  display: flex;
  justify-content: space-between
}

.desc {
  padding: 30px 30px;
}@media screen and (max-width:746px){
  .images {
    display: flex;
    flex-wrap: wrap;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    justify-content: space-between;
    gap: 17px;
  
      }
    }