.booking-container {
      grid-template-columns: repeat(12, 1fr);
 display: grid;
  align-items: center;
  justify-items: center;



}
.header-background {
  display: grid;
    background: #495e57;
  max-height: 346px;
grid-column: 1/-1;
width: 100%;

}
.breadcrumb {
  grid-column: 2/6;

  align-items: center;
  margin-bottom: 10px;
}
.form-header {
    grid-column: 5/9;
    text-align: center;
  


}

.booking-form {
display:grid;
justify-content: space-evenly;
  grid-column: 1/-1;

  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;

}

.booking-row1 
{
display:flex;
justify-content: space-around;

}
.booking-row2 {
display:flex;
justify-content: space-around;
} 
.booking-row3 {
  display:flex;
  justify-content: space-around;
  }
.booking-form label {
margin-bottom: 10px;
font-weight: bold;
font-size: 16px;


}

.booking-form input[type="date"],
.booking-form input[type="number"],
.booking-form select {
 display:grid;

padding: 10px;
margin-bottom: 20px;
border: none;
border-bottom: 2px solid #ccc;
background-color: transparent;
font-size: 16px;
}

.booking-form input[type="date"]::-webkit-calendar-picker-indicator {
filter: invert(1);
}

.booking-btn{
  display:grid;
  
  justify-content: center;
background-color: var(--primary-color-yellow);
color: var(--highlight-color-black);
padding: 14px 20px;
margin: 20px 0 10px;
border: none;
border-radius: 4px;
cursor: pointer;


font-size: 16px;
transition: background-color 0.2s ease;
}

.booking-form button[type="submit"]:hover {
background-color: var(--secondary-color-orange);
}

.booking-form button[type="submit"]:focus {
outline: none;
}

.booking-form .form-message {
color: red;
font-weight: bold;
margin-top: 10px;
}
