.about-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    }
    
    .about-left {display:grid;
    grid-column: 3/6;
    align-items: center;

   
    }
    .about-heading {
   
font-size: 64px;
font-weight: 400;
line-height: 75px;
letter-spacing: 0em;

    }
    .about-right {
      display:flex;
    grid-column: 8/11;
  flex-wrap: wrap;
   
    }
    
    .adrian {
      display: grid;
   width:200px;
height: 200px;;
  position: relative;
    z-index: 1;
   
    
    }
    
    .mario {
      width:200px;
     position: relative;
    z-index: 2;
    height: 200px;
    
  top: 100px;
  left: 100px;
    }

   /*Media Queries*/
   
@media screen and (max-width: 746px) {
  .about-container {
    grid-template-columns: 4fr;
    padding-top: 50px;
  }
  .about-left {
    grid-column: 1/4;
    text-align: center;
    padding: 0 10px;
  }
  .about-right {
    margin:20px 0;
    grid-column: 1/4;
    display: flex;
    
    justify-content: center;
  }
  .adrian {
    margin: 20px 0;
    right:50px;
  }
  .mario {
    margin: 20px 0;
    left:50px;
  }
}
