.about-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 100px;
    
    }
    
    .about-left {display:grid;
    grid-column: 3/6;
    align-items: center;

   
    }
    .about-heading {
   
font-size: 64px;
font-weight: 400;
line-height: 75px;
letter-spacing: 0em;
text-align: justified;

    }
    .about-right {
      display:flex;
    grid-column: 6/10;
  flex-wrap: wrap;
   
    margin-bottom: 100px;
    }
    
    .adrian {
   

  position: relative;
    z-index: 1;
   
    
    }
    
    .mario {
     position: relative;
    z-index: 2;
    
  top: 100px;
  left: 200px;
    }

   /*Media Queries*/
   
    @media (max-width: 746px) {
  .about-container {
    grid-template-columns: 4fr;
    padding-top: 50px;
  }
  .about-left {
    grid-column: 1/4;
    text-align: center;
    padding: 0 10px;
  }
  .about-right {
    margin:20px 0;
    grid-column: 2;
    display: flex;
    
    justify-content: center;
  }
  .adrian {
    width: 50%;
    margin: 20px 0;
    right:50px;
  }
  .mario {
    width: 50%;
    margin: 20px 0;
    left:50px;
  }
}
