.header-container { 
  display: grid;
  grid-template-columns: repeat(12, 1fr);
 
  padding-bottom: 60px;
    
}
.header-background {
  display:grid;
    background: #495e57;
  grid-column: 3/11;
  max-height: 346px;
position: relative;

}


.content-left {
display: grid;
max-width: 461px;
}
.header-title{
  color:var(--primary-color-yellow);
  margin:0;
}
.reservetable {
  height: 46.62711715698242px;
  width: 183px;
  border-radius: 16px;
  align-items: center;
  background: #f4ce14;
}
.content-right{
  display: flex;
justify-content: flex-end;
    grid-column: 12/12;
    margin-top: 30px;
}
.header-title {
  font-size: 64px;

  color: var(--primary-color-yellow);
}
.header-subtitle {
  color:white;
}
.header-text {
  color:white;  
  font-weight: 400;
  font-size: 16px;
  line-height: 23.5px;
  text-transform: capitalize;
}
/* Media Queries */
@media (max-width: 746px) {
  .header-text{
    display:none
  }
}
