.header-container { 
  display: grid;
  grid-template-columns: repeat(12, 1fr);
 grid-column: 1/-1;
  padding-bottom: 60px;
    
}
.header-background {
  display: grid;
    background: #495e57;
  max-height: 346px;
grid-column: 1/-1;
width: 100%;

}


.content-left {
  grid-column: 5/9;
  margin-top: 30px;
  max-width: 461px;

}


.header-title{
  color:var(--primary-color-yellow);
  margin:0;
}
.reservetable {
  height: 46.62711715698242px;
  width: 183px;
  border-radius: 16px;
  align-items: center;
  background: #f4ce14;
  cursor: pointer;
}
.content-right{
  grid-column: 9/13;
  margin-top: 30px;
  max-width: 461px;
  border-radius: 20px;
}
 .content-right img{
  grid-column: 9/13;
  margin-top: 20px;
  max-width: 461px;
  border-radius: 20px;
}
.header-title {
  font-size: 64px;

  color: var(--primary-color-yellow);
}
.header-subtitle {
  color:white;
}
.header-text {
  color:white;  
  font-weight: 400;
  font-size: 16px;
  line-height: 23.5px;
  text-transform: capitalize;
}
/* Media Queries */
@media (max-width: 746px) {
  .header-text{
    display:none
  }
}
