.breadcrumb {

  padding: 10px;
  border-radius: 5px;

  align-items: center;
  justify-content: center;
  
  
  left: 0;
 
}

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 16px;
}

.breadcrumb-link {
  color: var(--primary-orange);
  text-decoration: none;
}

.breadcrumb-link:hover {
  color: var(--secondary-color-orange);
}

.breadcrumb-divider {
  color: var(--highlight-color-black);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}
