.header-container {
    display: grid;
     vertical-align: middle;
     grid-template-columns: repeat(12, 1fr);
   background: #495E57;
  }
 
h2 {
    color:#F4CE14;  
    
  
}


.header-background {
    display:grid;
    background-color: var(--primary-color-green);
     height:346px;
    grid-column: 1/ 12;
    align-items: center;
}
.heading{
    display:grid;
   
    grid-column: 2 / 4;
    margin-bottom: 40px;
    

}
.reservetable {

    height: 46.62711715698242px;
width: 183px;

border-radius: 16px;
align-items: center;
    background: #F4CE14;
    border-radius: 16px;
}
.image{
    
    margin-top:30px;
    display:grid;
    grid-column: 8/10;
   
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 23.5px;
    text-transform: capitalize;
    color:#FFFFFF;
    display: grid;
}
