.nav-container {
    display: grid;
   
    vertical-align: middle;
  }
  
  .navbar-logo {
    display:grid;
    grid-column: 2 / span 2; 
    align-items: center;
    vertical-align: middle;
  }
article {
    display:grid;
}
  .navbar-links {
    display: flex;
    grid-column: 7 / span 5;
    list-style: none;
    justify-content: space-between;
  }
  @media only screen and (max-width: 600px){
    .navbar-links {
grid-column: 4 / span 5;
    }
  }