.footer-container {
    display: grid ;
    grid-template-columns: repeat(12, 1fr);
padding: 60px 0;
justify-content: space-between;
  
   
  }
  .footer-logo{
    display:flex;
    grid-column:3/6;
   
  }
  .footer-menu {
    display:grid;
    align-items: center;
    grid-column: 6/11; 
   
  }
  
  .menu-left {
    display: grid;
    grid-column: 7/8;
    list-style: none;
   
  }
  .menu-left-list{
    list-style: none;
  }
  .menu-right {
    list-style: none;
    display: grid;
    grid-column: 8/9; 
    
  }
  .menu-right-list{
    list-style: none;
  }
  