.footer-container {
    display: grid ;
    grid-template-columns: repeat(12, 1fr);
padding: 60px 0;
   
  }
  .footer-logo{
   
    grid-column:3/5;
   
  }
  .footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 4/11; 
   
  }
  
  .menu-left {
    display: grid;
    grid-column: 3/7;
   
  }
  .menu-right {
    display: grid;
    grid-column: 7/11; 
    justify-content: space-evenly;
    
  }
  