.testimonials-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: center;
}
.testimonials-header{
   grid-column: 6/8;
    justify-content: center;
    text-align: center;
}

.testimonials-images {
  display: flex;
    grid-column: 3/11;
}
.testimonials-title{
    max-width:250px;
    padding: 30px 5px;;
    display:grid;
    justify-items: center;
border: 1px solid var(--primary-color-green);


}

.person1 {
    padding: 20px 0;
}
.person2 {
    padding: 20px 0;
}
.person3 {
    padding: 20px 0;
}
.person4 {
    padding: 20px 0;
}
@media (max-width: 768px) {
  .testimonials-container {
   grid-template-columns: repeat(4, 1fr);
      margin-top: 100px;
    margin-bottom: 50px;

        justify-items: center;
  }
  .testimonials-images {
    
    grid-column: 1/-1;
        justify-items: center;    margin-top: 40px;
  }

  .testimonials-header{
  grid-column: 2/4;
justify-content: center;
   
}
.star {
    width:20px;
    height:20px;
    padding: 10px 5px;
}
q{
    display: none;
}
}


