


/* Style Guide */
:root{
 --primary-color-green: #495e57;
 --primary-color-yellow: #f4ce14;
--secondary-color-orange: #ee9972;
--secondary-color-beige: #FBDABB;
--highlight-color-white: #EDEFEE;
--highlight-color-black: #333333;
}
#root {
  display: grid;
}




body {
  font-family: -apple-system, BlinkMacSystemFont, "Karla-regular";
  -moz-osx-font-smoothing: grayscale;
  
}
p {
  color:var(--highlight-color-black);
  font-size: 16px;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
