.nav-container {
  align-items: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin:60px;

 
}
.navbar-logo {
  display:grid;
  grid-column: 3/6;
}

.navbar-links {
  display: flex;
 flex-wrap: wrap;
  grid-column: 6/11;
justify-content: space-around; 
  margin: 0;
  padding: 0;
  text-align: center;
}  
.nav-item{
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 23.5px;

  color: var(--highlight-color-black);
 
}
.nav-item:hover{
  
  border-radius: 5px;


background-color: var(--primary-color-green);
  color:var(--highlight-color-white)

}

@media screen and (max-width: 746px) {
  .nav-container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
    
  }
.nav-item, .navbar-links
{
padding: 10px 5px;
}
}
