.nav-container {
  align-items: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin:60px;

 
}
.navbar-logo {
  display:grid;
  grid-column: 3/6;
}

.navbar-links {
  display: flex;
 flex-wrap: wrap;
  grid-column: 6/11;
justify-content: space-evenly; 
  margin: 0;
  padding: 0;
  text-align: center;
}  .nav-item{
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 23.5px;
  text-transform: capitalize;
  color: var(--highlight-color-black);
  padding: 5px;
}
.nav-item:hover{
  
  border: 2px solid var(--highlight-color-white);
  border-radius: 5px;
  padding: 5px;

background-color: var(--primary-color-green);
  color:var(--highlight-color-white)

}

